{% extends "base.html" %}
{% block title %}Edit Post{% endblock %}
{% block page_content %}
    <link rel="stylesheet" href="{{ url_for('static',filename='editormd/css/editormd.css') }}"/>
    <div class="row">
        <h1 class="text-center">{% if add %}添加博文{% else %}修改博文{% endif %}</h1>

        <form method="post"
              action="{% if add %}{{ url_for('main.addblog') }}{% else %}{{ url_for('main.edit', id=id) }}{% endif %}">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.body.label }}
                {% if form.body.errors %}
                    {% for e in form.body.errors %}
                        <p class="help-block">{{ e }}</p>
                    {% endfor %}
                {% endif %}
                <div id="editormd" class="form-control">
                    {{ form.body(style="display:none;") }}
                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="{% if add %}提交{% else %}修改{% endif %}">
        </form>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static',filename='editormd/editormd.min.js') }}"></script>
    <script type="text/javascript">
        var testEditor;

        $(function () {
            testEditor = editormd("editormd", {
                width: "100%",
                height: "300",
                syncScrolling: "single",
                path: "{{ url_for('static',filename='editormd/lib/') }}"
            });
        });
    </script>

{% endblock %}